    /* Estilos generales */
    body {
        font-family: 'Sen', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #FFFFFF;
    }

    /* Navbar */
    .navbar {
        background-color: #23969F;
        padding: 20px 40px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo-img {
        height: 90px;
        margin-right: 5px;
        margin-right: 15px;
    }

    .logo-text {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .slogan {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #FFFFFF;
        opacity: 0.8;
    }

    /* Menú */
.menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;
    gap: 40px;
    font-size: 1.4rem;
    margin: 0 auto;
}

/* Elementos del menú */
.menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #5EB896;
}

/* Contenedor de menú desplegable */
.menu-item {
    position: relative;
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    background-color: #5EB896;
    top: 100%;
    left: 0;
    width: 250px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.submenu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background 0.3s ease-in-out;
}

.submenu a:hover {
    background-color: #ffffff;
}

/* Mostrar submenú al pasar el cursor */
.menu-item:hover .submenu {
    display: block;
}

    .carrito{
        height: 50px;
        margin-right: 60px;
        margin-left: 60px;
        align-items: center;
    } 

    .imagen-carrito{
        height: 40px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .mensaje-carrito {
        position: absolute;
        bottom: 130%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        padding: 6px 10px;
        font-size: 14px;
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    
    .carrito:hover .mensaje-carrito {
        opacity: 1;
        visibility: visible;
    }

    #cantidad {
        background-color: white;
        color: #23969F;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 50%;
        font-size: 0.8rem;
    }

    /* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 630px; /* Aumentado el tamaño de la altura */
    margin-top: 100px; /* Para evitar que quede tapado por el navbar */
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Contenedor del título (lo centra y le da espacio) */
.plan-titulo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.plan-titulo h2 {
    font-size: 1.8rem;
    color: #666;
    max-width: 900px;
    margin: 0 auto;
    font-weight: bold;
}

/* Contenedor de la información y el formulario en dos columnas */
.plan-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20%;
    gap: 20px;
}

/* Contenedor de texto e información */
.plan-texto {
    flex: 1;
    max-width: 70%;
}

.plan-texto p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    margin-bottom: 5px;
}

/* Beneficios con icono */
.beneficio {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.beneficio img {
    width: 50px;
    height: 50px;
}

.beneficio h3 {
    font-size: 1.2rem;
    color: #23969F;
    margin-bottom: 0px;
}

/* Formulario */
.plan-formulario {
    flex: 1;
    max-width: 40%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.plan-formulario h3 {
    font-size: 1rem;
    color: #23969F;
    margin-bottom: 20px;
}

/* Inputs */
.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input,
.input-group select {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.input-group select {
    cursor: pointer;
}

/* Checkbox */
.input-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    font-size: 0.9rem;
}

.input-checkbox label {
    text-align: left;
    margin-left: 10px;
    font-size: 0.8rem;
}

.input-checkbox a {
    color: #1216e0;
    text-decoration: none;
}

/* Botón Consultar */
.boton-consultar {
    width: 100%;
    padding: 12px;
    background-color: #23969F;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
}

.boton-consultar:hover {
    background-color: #5EB896;
}

/* Sección de estadísticas */
.estadisticas {
    background-color: #dddddd;
    padding: 20px 10%;
    text-align: center;
}

/* Contenedor principal */
.estadisticas-contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

/* Título principal */
.estadisticas h2 {
    font-size: 1.8rem;
    color: #666;
    margin-bottom: 15px;
}

/* Descripción */
.estadisticas p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 30px;
}

/* Grid de estadísticas */
.estadisticas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: left;
}

/* Cada tarjeta de estadística */
.estadistica {
    background: none;
    padding: 10px;
}

/* Números grandes y color naranja */
.estadistica h3 span {
    font-size: 2rem;
    font-weight: bold;
    color: #23969F;
}

/* Subtítulos */
.estadistica h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* Texto descriptivo */
.estadistica p {
    font-size: 1rem;
    color: #444;
    line-height: 1.4;
}

/* Línea decorativa debajo del texto */
.estadistica p::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #23969F;
    margin-top: 10px;
}

/* Sección de Ventajas */
.ventajas {
    background-color: #B7D3D5; /* Color azul claro */
    padding: 30px 10%;
}

/* Contenedor de la sección */
.ventajas-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contenedor de imágenes */
.ventajas-imagen {
    flex: 1;
    text-align: center;
    position: relative;
}

.logo-prevencion {
    width: 200px;
    display: block;
    margin: 0 auto 20px auto;
}

.imagen-familia {
    width: 520px;
    display: block;
    margin: 0 auto;
}

/* Contenedor de texto */
.ventajas-texto {
    flex: 2;
    text-align: left;
    max-width: 700px;
}

/* Título */
.ventajas-texto h2 {
    font-size: 1.8rem;
    color: #666;
    margin-bottom: 15px;
}

/* Texto de introducción */
.ventajas-texto p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 20px;
}

/* Cada ventaja */
.ventaja {
    margin-bottom: 15px;
}

/* Números de cada ventaja */
.ventaja h3 span {
    font-size: 1.3rem;
    font-weight: bold;
    color: #23969F;
}

/* Subtítulo */
.ventaja h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* Línea decorativa debajo del texto */
.ventaja p::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #23969F;
    margin-top: 10px;
}

/* Resumen */
.resumen {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

/* Sección de Cobertura */
.cobertura {
    text-align: center;
    padding: 20px 20%;
}

.cobertura-titulo {
    font-size: 1.8rem;
    color: #23969F;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Contenedor de tarjetas */
.cobertura-contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

/* Tarjetas de cobertura */
.cobertura-item {
    background-color: #dddddd;
    border-radius: 10px;
    padding: 23px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenedor para imágenes, asegurando la misma altura */
.cobertura-item img {
    width: 100px; /* Tamaño uniforme */
    height: 120px; /* Forzar altura para alinear */
    object-fit: contain; /* Ajuste para que no se deforme */
    margin-bottom: 5px;
}

/* Asegurar que el texto comience alineado en todas las tarjetas */
.cobertura-item h3 {
    font-size: 1.2rem;
    color: #23969F;
    margin-bottom: 2px;
    min-height: 50px; /* Se asegura que el título no desplace contenido */
}

/* Listas con viñetas */
.cobertura-item ul {
    text-align: left;
    padding-left: 20px;
    list-style: disc;
}

/* Elementos de la lista */
.cobertura-item ul li {
    font-size: 1rem;
    color: #444;
    padding: 5px 0;
}

/* Contenedor del botón */
.boton-container {
    display: flex;
    justify-content: center;
    margin-top: 30px; /* Espaciado respecto a las tarjetas */
}

/* Botón Preventivo */
.boton-preventivo {
    background-color: #23969F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.boton-preventivo:hover {
    background-color: #5EB896;
}

/* Sección de precios */
.precios {
    text-align: center;
    padding: 10px 20px;
}

.precios-titulo {
    font-size: 1.8rem;
    color: #666;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Contenedor de precios */
.precios-contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* Tarjetas de precios */
.precio-item {
    width: 13%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Header de la tarjeta */
.precio-header {
    background-color: #23969F;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 60px; /* Altura fija para que todas tengan el mismo tamaño */
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    text-align: center;
}

/* Precio en negrita */
.precio-valor {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 15px;
    background-color: #f0f0f0;
}

/* Sección de cuotas */
.precio-cuotas {
    padding: 10px;
    font-size: 0.9rem;
    color: #666;
}

/* Precio mensual */
.precio-mensual {
    font-size: 1rem;
    font-weight: bold;
    color: #E35B2F;
}

.precio-mensual span {
    font-size: 0.9rem;
    color: #E35B2F;
    font-weight: normal;
}

/* Información de pagos */
.precios-info {
    margin-top: 20px;
    font-size: 1rem;
    color: #444;
}

/* Imagen de bancos */
.precios-bancos img {
    width: 100%;
    max-width: 600px;
    margin: -120px auto;
}

/* Nota de condiciones */
.precios-condiciones {
    font-size: 0.9rem;
    color: #999;
    margin-top: -10px;
}

/* Contenedor de la sección de pagos */
.info-pago {
    text-align: center;
    margin-top: 20px;
}

/* Imagen de bancos */
.bancos-img {
    max-width: 50%;
    height: auto;
    margin-top: -120px;
    margin-bottom: -140px;
}

/* Texto de condiciones */
.condiciones {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos del botón */
.boton-informacion {
    text-decoration: none; /* Elimina el subrayado */
    display: inline-block; /* Mantiene la apariencia de un botón */
    background-color: #23969F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.boton-informacion:hover {
    background-color: #5EB896;
}

/* Sección de Costos de Enfermedades */
.costos-enfermedades {
    text-align: center;
    padding: 50px 10%;
}

.costos-enfermedades h2 {
    font-size: 1.8rem;
    color: #666;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Contenedor de la imagen */
.contenedor-imagen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen del San Bernardo */
.san-bernardo {
    max-width: 100%;
    height: auto;
}

/* Íconos de información */
.info-icon {
    position: absolute;
    cursor: pointer;
}

.info-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.info-icon:hover img {
    transform: scale(1.2);
}

/* Texto de información emergente */
.info-text {
    display: none;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.95);
    color: #333;
    font-size: 0.9rem;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.info-icon:hover .info-text {
    display: block;
}

/* Contenedor del botón */
.boton-contenedor {
    text-align: center;
    margin-top: 30px;
}

/* Estilo del botón */
.boton-mas-informacion {
    text-decoration: none; /* Elimina el subrayado */
    display: inline-block; /* Mantiene la apariencia de un botón */
    background-color: #23969F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.boton-mas-informacion:hover {
    background-color: #5EB896;
}

/* Estilos del Footer */
.footer {
    background-color: #23969F; /* Color de fondo */
    padding: 30px 10px;
    height: 170px;
    color: white;
    text-align: left;
}


/* Contenedor principal con 4 columnas */
.footer-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr); /* 3 columnas de igual tamaño */
    max-width: 1400px;
    margin: auto;
    gap: 1rem;
    flex: 1;
}

/* Información de Bucky's Vet */
.footer-info {
    font-size: 1rem;
    line-height: 1;
    text-align: justify;
}

/* Sección del Blog */
.footer-blog h4,
.footer-politicas h4{
    margin: 0 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-politicas a{
    margin: 0 4rem;
}

/* Cada publicación del blog */
.footer-blog-item {
    margin: 0 4rem;
    display: flex;
    width: 470px;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-blog-item img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.footer-blog-item a {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.footer-blog-item a:hover {
    color: #5EB896;
}

.footer-blog-item span {
    font-size: 0.8rem;
    color: #ddd;
}

/* Políticas y condiciones */
.footer-politicas a {
    display: block;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.footer-politicas a:hover {
    color: #5EB896;
}

/* Redes sociales y contacto */
.footer-contacto {
    text-align: center;
}

/* Redes sociales */
.footer-redes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.footer-redes img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}


.footer-redes img:hover {
    transform: scale(1.1);
}

/* Logo */
.footer-logo img {
    width: 110px;
    height: 120px
    
}