    /* Estilos generales */
    body {
        font-family: 'Sen', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #FFFFFF;
    }

    /* Navbar */
    .navbar {
        background-color: #23969F;
        padding: 20px 40px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo-img {
        height: 90px;
        margin-right: 5px;
        margin-right: 15px;
    }

    .logo-text {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .slogan {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #FFFFFF;
        opacity: 0.8;
    }

    /* Menú */
.menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;
    gap: 40px;
    font-size: 1.4rem;
    margin: 0 auto;
}

/* Elementos del menú */
.menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #5EB896;
}

/* Contenedor de menú desplegable */
.menu-item {
    position: relative;
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    background-color: #5EB896;
    top: 100%;
    left: 0;
    width: 250px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.submenu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background 0.3s ease-in-out;
}

.submenu a:hover {
    background-color: #ffffff;
}

/* Mostrar submenú al pasar el cursor */
.menu-item:hover .submenu {
    display: block;
}

    .carrito{
        height: 50px;
        margin-right: 60px;
        margin-left: 60px;
        align-items: center;
    } 

    .imagen-carrito{
        height: 40px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .mensaje-carrito {
        position: absolute;
        bottom: 130%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        padding: 6px 10px;
        font-size: 14px;
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    
    .carrito:hover .mensaje-carrito {
        opacity: 1;
        visibility: visible;
    }

    #cantidad {
        background-color: white;
        color: #23969F;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 50%;
        font-size: 0.8rem;
    }

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 630px; /* Aumentado el tamaño de la altura */
    margin-top: 100px; /* Para evitar que quede tapado por el navbar */
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-overlay {
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 10;
    max-width: 200px;
    text-align: center; /* Centra el texto debajo del logo */
}

.hero-logo {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

/* Texto BienestarPlus */
.hero-text {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 10px; /* Espacio entre el logo y el texto */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    opacity: 0.;
}

/* Sección de Información del Programa */
.info-pacientes-cronicos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #FFFFFF; /* Fondo blanco */
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Estilos del Texto */
.info-texto {
    width: 50%;
    color: #333;
    margin-right: 35px;
}

.info-texto h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #23969F; /* Cian Oscuro */
}

.resaltado {
    color: #5EB896; /* Menta */
}

.info-texto p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
}

.sin-costo {
    font-weight: bold;
    color: #23969F; /* Cian Oscuro */
}

/* Formulario */
.formulario-pacientes-cronicos {
    width: 45%;
    background: #EEEEEE;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #5EB896;
    border-radius: 5px;
    font-size: 1rem;
}

.input-checkbox {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 0.9rem;
}

.input-checkbox input {
    margin-right: 10px;
}

.input-checkbox a {
    color: #23969F;
    text-decoration: none;
    font-weight: bold;
}

.input-checkbox a:hover {
    text-decoration: underline;
}

/* Botón de Enviar */
.boton-enviar {
    background-color: #23969F;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.boton-enviar:hover {
    background-color: #5EB896;
}

/* Sección Final */
.mensaje-final {
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
}

.mensaje-final p {
    font-size: 1.5rem;
    font-weight: normal;
    color: #5b5e5e;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 17%;
    margin-right: 17%;
}

/* Imagen Final */
.imagen-final {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagen-final img {
    max-width: 500px; 
    height: auto;
    opacity: 0.9;
}

/* Sección de Beneficios del Programa */
.beneficios-programa {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #EEEEEE; /* Color de fondo */
}

/* Imagen ocupando la mitad izquierda sin márgenes */
.beneficios-programa img {
    width: 50%;
    height: 100%;
    object-fit: cover; /* Para que se ajuste correctamente */
}

/* Contenedor del texto sin tarjeta blanca */
.beneficios-texto {
    width: 50%;
    padding:15px 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #333;
}

.beneficios-texto h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #23969F; /* Cian Oscuro */
    margin-bottom: 20px;
}

.beneficios-texto ul {
    list-style: none;
    padding: 30px;
}

.beneficios-texto ul li {
    font-size: 1.2rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.beneficios-texto ul li::before {
    content: "→"; /* Flecha como viñeta */
    margin-right: 10px;
    color: #5EB896; /* Color Menta */
    font-weight: normal;
}

.beneficios-texto p {
    font-size: 0.9rem;
    color: #666;
    margin-top: 15px;
}

/* Sección Expectativa de Vida */
.expectativa-vida {
    text-align: center;
    padding: 20px 25%;
    background-color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Texto principal */
.expectativa-texto h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #23969F; /* Cian Oscuro */
    margin-bottom: 15px;
}

.expectativa-texto p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 10px;
}

.expectativa-texto strong {
    color: #313131; /* Color Menta para resaltar */
}

/* Imagen del gráfico */
.grafico-vida {
    margin-top: 20px;
    text-align: center;
}

.grafico-vida img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

/* Sección de Enfermedades Crónicas */
.enfermedades-cronicas {
    background-color: #23969F; /* Color cian oscuro */
    padding: 20px 10%;
    text-align: center;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.enfermedades-cronicas h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Contenedor de enfermedades */
.contenedor-enfermedades {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 40px;
    justify-items: center;
}

/* Estructura de cada enfermedad */
.enfermedad {
    background-color: #23969F; /* Color menta */
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.enfermedad img {
    width: 300px;
    margin-bottom: 10px;
}

.enfermedad h3 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.enfermedad p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.enfermedad h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
}

.enfermedad ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
    font-size: 1rem;
}

/* Botón de Más Información */
.boton-contenedor {
    text-align: center;
    margin-top: 40px;
}

.boton-mas-informacion {
    background-color: white;
    color: #23969F;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.boton-mas-informacion:hover {
    background-color: #5EB896;
}

/* Sección de Examen Físico Integral */
.examen-fisico {
    text-align: center;
    background-color: #FFFFFF;
    padding: 20px 10%;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Título */
.examen-fisico h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #23969F;
}

/* Logo */
.logo-container img {
    max-width: 350px;
    margin: 20px 0;
}

/* Descripción */
.descripcion {
    font-size: 1.1rem;
    color: #5B5E5E;
    margin: 20px 0;
    line-height: 1.6;
}

/* Contenedor de los aspectos */
.aspectos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

/* Estilos de cada aspecto */
.aspecto {
    width: 25%;
    text-align: center;
}

.aspecto img {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.aspecto h3 {
    font-size: 1.2rem;
    color: #23969F;
    font-weight: bold;
}

.aspecto p {
    font-size: 1rem;
    color: #5B5E5E;
    line-height: 1.5;
}

    /* Sección de Aliados */
.aliados {
    text-align: center;
    padding: 30px 5%;
    background-color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 50px;
}

/* Título */
.aliados h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #23969F;
    margin-bottom: 20px;
    margin-top: 0;
}

/* Contenedor del carrusel */
.carrusel-container {
    position: relative;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* Carrusel de imágenes */
.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(150px * 8); 
    gap: 20px;
}

.carrusel img {
    width: 170px;
    height: 80px;
    margin: 0 15px;
    transition: transform 0.3s;
}

.carrusel img:hover {
    transform: scale(1.1);
}

/* Botones */
.prev, .next {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/* Estilos del Footer */
.footer {
    background-color: #23969F; /* Color de fondo */
    padding: 30px 10px;
    height: 170px;
    color: white;
    text-align: left;
}


/* Contenedor principal con 4 columnas */
.footer-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr); /* 3 columnas de igual tamaño */
    max-width: 1400px;
    margin: auto;
    gap: 1rem;
    flex: 1;
}

/* Información de Bucky's Vet */
.footer-info {
    font-size: 1rem;
    line-height: 1;
    text-align: justify;
}

/* Sección del Blog */
.footer-blog h4,
.footer-politicas h4{
    margin: 0 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-politicas a{
    margin: 0 4rem;
}

/* Cada publicación del blog */
.footer-blog-item {
    margin: 0 4rem;
    display: flex;
    width: 470px;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-blog-item img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.footer-blog-item a {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.footer-blog-item a:hover {
    color: #5EB896;
}

.footer-blog-item span {
    font-size: 0.8rem;
    color: #ddd;
}

/* Políticas y condiciones */
.footer-politicas a {
    display: block;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.footer-politicas a:hover {
    color: #5EB896;
}

/* Redes sociales y contacto */
.footer-contacto {
    text-align: center;
}

/* Redes sociales */
.footer-redes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.footer-redes img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}


.footer-redes img:hover {
    transform: scale(1.1);
}

/* Logo */
.footer-logo img {
    width: 110px;
    height: 120px
    
}
