<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error404.css}">
</head>
<body>
    <h1>¡Oops! Error 404</h1>
    <p>Parece que este cachorro y este gatito no encontraron la página que buscas.</p>
    <a href="/mascotas" class="btn">Volver </a>
    <img src="/images/imagesError/perro-triste.jpg" alt="Error 404">
</body>
</html>
 