<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mascotas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/infoMascotas.css}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a th:href="@{/LandingPage}">
                    <img src="../images/imagesLandingPage/Buckys_Vet_LOGO_sin_fondo.png" alt="Bucky's Vet Logo" class="logo-img">
                </a>
                <div class="logo-text">
                    Bucky's Vet
                    <span class="slogan">Peludos sanos y felices</span>
                </div>
            </div>
            
            <div class="menu">  
                <div class="menu-item">
                    <a href="#">PLANES DE MEDICINA</a>
                    <div class="submenu">
                        <a th:href="@{/PlanMedicoIntegralAccidente+Enfermedad}">PLAN MÉDICO INTEGRAL ACCIDENTE + ENFERMEDAD</a>
                        <a th:href="@{/PlanCuidadoPreventivo}">PLAN CUIDADO PREVENTIVO</a>
                        <a href="@{/PlanPacientesCronicos}">PLAN PACIENTES CRÓNICOS</a>
                    </div>
                </div>
    
                <div class="menu-item">
                    <a href="#">SERVICIOS</a>
                    <div class="submenu">
                        <a th:href="@{/ProgramaCitaPresencial}">PROGRAMA TU CITA PRESENCIAL</a>
                        <a th:href="@{/BañosBuckysVet}">BAÑOS BUCKY'S VET</a>
                        <a th:href="@{/AsesoriaNutricion}">ASESORÍA EN NUTRICIÓN</a>
                        <a th:href="@{/ConsultaVirtual}">CONSULTA VIRTUAL</a>
                        <a href="#">TIENDA PUPPIS</a>
                    </div>
                </div>
    
                <div class="menu-item">
                    <a th:href="@{/Sedes}">SEDES</a>
                </div>
    
                <div class="menu-item">
                    <a href="#">HOSPITAL 24 HORAS</a>
                    <div class="submenu">
                        <a th:href="@{/HospitalVeterinario24HrsSedeNorte}">HOSPITAL NORTE</a>
                        <a th:href="@{/HospitalVeterinario24HrsSedeCentro}">HOSPITAL CENTRO</a>
                    </div>
                </div>

                <div class="menu-item">
                    <a href="#">BLOG</a>
                </div>
    
                <div class="menu-item">
                    <a th:href="@{/Contacto}">CONTACTO</a>
                </div>

                <div class="menu-item">
                    <a th:href="@{/Login}">INICIO SESION</a>
                </div>
            </div>
    
            <div class="carrito">
                <img class="imagen-carrito" src="../images/imagesLandingPage/carrito-de-compras (1).png" alt="Carrito de Compras">
                <span class="mensaje-carrito">El carrito esta vacio</span>
                <span id="cantidad"> 0 </span>
            </div>
        </nav>
    </header>
    <div class="container">
        <!-- Información del dueño si está disponible -->
        <div th:if="${dueno != null}" class="dueno-info">
            <h2>Mascotas de <span th:text="${dueno.nombre}"></span></h2>
            <div class = "datos-dueno">
                <img th:src="${dueno.imagenUrl}" alt="Imagen del dueno" class = "img-fluid rounded me-3">
                <p>Cédula: <span th:text="${dueno.cedula}" class = "cedula"></span></p>  
                <p>Contacto: <span th:text="${dueno.telefono}"></span></p>
                <p>Nombre: <span th:text="${dueno.nombre}"></span></p>
            </div>
        </div>
        <h1 class="titulo mb-4" th:unless="${dueno != null}">Lista Mascotas</h1>
        
        <!-- Botones de acción -->
        <div class="actions">
            <a type="button" class="btn btn-secondary" th:href="@{/logout}">Cerrar Sesión</a>
        </div>
        
        <!-- Mensaje si no hay mascotas -->
        <div th:if="${#lists.isEmpty(mascotas)}" class="alert alert-info">
            No hay mascotas registradas.
        </div>
        
        <!-- Tabla de mascotas -->
        <table class="table table-striped table-hover" th:unless="${#lists.isEmpty(mascotas)}">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Especie</th>
                    <th>Edad</th>
                    <th>Peso</th>
                    <th>Enfermedad</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mascota : ${mascotas}">
                    <td><a th:href="@{/infoMascota/{id}(id=${mascota.mascotaId})}" th:text="${mascota.nombre}"></a></td>
                    <td th:text="${mascota.especie}"></td>
                    <td th:text="${mascota.edad}"></td>
                    <td th:text="${#numbers.formatDecimal(mascota.peso, 1, 2)}"></td>
                    <td th:text="${mascota.enfermedad}"></td>
                    <td><img th:src="${mascota.imagenUrl}" alt="Imagen de la mascota" width="100"/></td>
                    <td>
                        <span th:if="${mascota.estado == 'Activo'}" class="badge bg-success" style="padding: 5px 10px; border-radius: 5px; background-color: #28a745; color: white;">Activo</span>
                        <span th:if="${mascota.estado == 'Inactivo'}" class="badge bg-danger" style="padding: 5px 10px; border-radius: 5px; background-color: #dc3545; color: white;">Inactivo</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div class="footer-contenedor">
            <!-- Publicaciones del Blog -->
            <div class="footer-blog">
                <h4>PUBLICACIONES DE NUESTRO BLOG</h4>
                <div class="footer-blog-item">
                    <a href="#">OTITIS EN PERROS</a>
                    <span>08 MARCH, 2024</span>
                </div>
                <div class="footer-blog-item">
                    <a href="#">Desparasitación de mascotas: todo lo que debes saber.</a>
                    <span>13 APRIL, 2024</span>
                </div>
                <div class="footer-blog-item">
                <a href="#">Vacunación de mascotas: Prevención de enfermedades mortales</a>
                    <span>02 SEPTEMBER, 2024</span>
                </div>
            </div>

            <!-- Políticas y condiciones -->
            <div class="footer-politicas">
                <h4>CONECE NUESTRAS POLÍTICAS Y CONDICIONES</h4>
                <a href="#">- Políticas de Privacidad</a>
                <a href="#">- Términos y condiciones</a>
            </div>

            <!-- Redes sociales y logo -->
            <div class="footer-contacto">
                <!-- Redes sociales -->
                <div class="footer-redes">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img class="footer-logo1" src="../images/imagesLandingPage/facebook-logo.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="footer-logo2" src="../images/imagesLandingPage/instagram-logo.png" alt="Instagram">
                    </a>
                    <a href="https://x.com/" target="_blank">
                        <img class="footer-logo3" src="../images/imagesLandingPage/twitter-logo.png" alt="Twitter">
                    </a>
                </div>

                <!-- Logo -->
                <div class="footer-logo">
                    <img src="../images/imagesLandingPage/Buckys_Vet_LOGO_y_NOMBRE_sin_fondo.png" alt="Bucky's Vet Logo">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
