<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Dueños</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/infoDuenos.css}">
</head>
<body>
    <h1 class="titulo mb-4" >Lista Dueños</h1>
    
    <!-- Botón de acción -->
    <div class="actions">
        <a type="button" class="btn btn-primary" style="margin-left: 0;" th:href="@{/crearDueno}">Agregar Dueño</a>
    </div>
    
    <table class="table table-striped table-hover">
        <thead class = "table-dark">
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Imagen</th>
                <th>      </th>
                <th>      </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dueno : ${duenos}">
                <td><a class="id"  th:href="@{/infoDuenos/{id}(id=${dueno.id})}" th:text="${dueno.id}"></a></td>
                <td th:text="${dueno.nombre}"></td>
                <td th:text="${dueno.email}"></td>
                <td th:text="${dueno.telefono}"></td>
                <td><img th:src="${dueno.imagenUrl}" alt="Imagen del dueno" width="100"/></td>
                <td>     </td>
                <td>
                    <a class="btn-info" th:href="@{/modificardueno/{id}(id=${dueno.id}+0)}"> Editar </a>
                    <a class="btn-info" th:href="@{/eliminardueno/{id}(id=${dueno.id}+0)}"> Eliminar </a>
                </td>
            </tr>
        </tbody>
    </table>

    <footer class="footer">
        <div class="footer-contenedor">
            <!-- Publicaciones del Blog -->
            <div class="footer-blog">
                <h4>PUBLICACIONES DE NUESTRO BLOG</h4>
                <div class="footer-blog-item">
                    <a href="#">OTITIS EN PERROS</a>
                    <span>08 MARCH, 2024</span>
                </div>
                <div class="footer-blog-item">
                    <a href="#">Desparasitación de mascotas: todo lo que debes saber.</a>
                    <span>13 APRIL, 2024</span>
                </div>
                <div class="footer-blog-item">
                <a href="#">Vacunación de mascotas: Prevención de enfermedades mortales</a>
                    <span>02 SEPTEMBER, 2024</span>
                </div>
            </div>

            <!-- Políticas y condiciones -->
            <div class="footer-politicas">
                <h4>CONECE NUESTRAS POLÍTICAS Y CONDICIONES</h4>
                <a href="#">- Políticas de Privacidad</a>
                <a href="#">- Términos y condiciones</a>
            </div>

            <!-- Redes sociales y logo -->
            <div class="footer-contacto">
                <!-- Redes sociales -->
                <div class="footer-redes">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img class="footer-logo1" src="../images/imagesLandingPage/facebook-logo.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="footer-logo2" src="../images/imagesLandingPage/instagram-logo.png" alt="Instagram">
                    </a>
                    <a href="https://x.com/" target="_blank">
                        <img class="footer-logo3" src="../images/imagesLandingPage/twitter-logo.png" alt="Twitter">
                    </a>
                </div>

                <!-- Logo -->
                <div class="footer-logo">
                    <img src="../images/imagesLandingPage/Buckys_Vet_LOGO_y_NOMBRE_sin_fondo.png" alt="Bucky's Vet Logo">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
