<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylessLandingPage.css}">
    <style>
        .input-container {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

    <div class="login-container">
        <!-- Logo -->
        <img src="/images/imagesLandingPage/Buckys_Vet_LOGO.jpg" alt="Logo" class="logo">
        <h2>Iniciar Sesión</h2>

        <form action="/login" method="post">
            <div class="input-container">
                <input type="number" name="id" placeholder="Ingrese su cédula" required />
            </div>
            <div class="input-container">
                <input type="password" name="password" placeholder="Ingrese su contraseña" required />
            </div>
            <button type="submit">Ingresar</button>
        </form>

        <p th:if="${error}" th:text="${error}" class="error-message"></p>
    </div>

</body>
</html>
