<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Cuidado Preventivo</title>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/stylessPlanCuidadoPreventivo.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="LandingPage.html">
                    <img src="../images/imagesLandingPage/Buckys_Vet_LOGO_sin_fondo.png" alt="Bucky's Vet Logo" class="logo-img">
                </a>
                <div class="logo-text">
                    Bucky's Vet
                    <span class="slogan">Peludos sanos y felices</span>
                </div>
            </div>
            
            <div class="menu">
                <div class="menu-item">
                    <a href="#">PLANES DE MEDICINA</a>
                    <div class="submenu">
                        <a href="PlanMedicoIntegralAccidente+Enfermedad.html">PLAN MÉDICO INTEGRAL ACCIDENTE + ENFERMEDAD</a>
                        <a href="PlanCuidadoPreventivo.html">PLAN CUIDADO PREVENTIVO</a>
                        <a href="PlanPacientesCronicos.html">PLAN PACIENTES CRÓNICOS</a>
                    </div>
                </div>
    
                <div class="menu-item">
                    <a href="#">SERVICIOS</a>
                    <div class="submenu">
                        <a href="ProgramaCitaPresencial.html">PROGRAMA TU CITA PRESENCIAL</a>
                        <a href="BañosBuckysVet.html">BAÑOS BUCKY'S VET</a>
                        <a href="AsesoriaNutricion.html">ASESORÍA EN NUTRICIÓN</a>
                        <a href="ConsultaVirtual.html">CONSULTA VIRTUAL</a>
                        <a href="#">TIENDA PUPPIS</a>
                    </div>
                </div>
    
                <div class="menu-item">
                    <a href="Sedes.html">SEDES</a>
                </div>
    
                <div class="menu-item">
                    <a href="#">HOSPITAL 24 HORAS</a>
                    <div class="submenu">
                        <a href="HospitalVeterinario24HrsSedeNorte.html">HOSPITAL NORTE</a>
                        <a href="HospitalVeterinario24HrsSedeCentro.html">HOSPITAL CENTRO</a>
                    </div>
                </div>

                <div class="menu-item">
                    <a href="#">BLOG</a>
                </div>
    
                <div class="menu-item">
                    <a href="Contacto.html">CONTACTO</a>
                </div>

                <div class="menu-item">
                    <a href="login.html">INICIO SESION</a>
                </div>
            </div>
    
            <div class="carrito">
                <img class="imagen-carrito" src="../images/imagesLandingPage/carrito-de-compras (1).png" alt="Carrito de Compras">
                <span class="mensaje-carrito">El carrito esta vacio</span>
                <span id="cantidad"> 0 </span>
            </div>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main>
        <!-- Hero Section -->
        <section class="hero">
            <img src="../images/imagesPlanCuidadoPreventivo/veterinariaPCP.jpg" alt="Veterinario Principal PCP">
                  
        </section>
        <!-- Sección de Información del Plan -->
        <section class="plan-info" id="contacto">

            <!-- Título General -->
            <div class="plan-titulo">
                <h2>EN BUCKY'S VET, TE AYUDAMOS A MANTENER A TU MEJOR AMIGO SANO Y PROTEGIDO CON PLANES DE PREVENCIÓN
                    DISEÑADOS PARA SU BIENESTAR</h2>
            </div>

            <div class="plan-contenedor">
                <div class="plan-texto">
                   
                </div>
            </div>

            <div class="plan-formulario">
                <h3>INGRESA TUS DATOS Y UN ASESOR TE CONTACTARÁ PARA DARTE MÁS INFORMACIÓN SOBRE NUESTROS PLANES DE SALUD</h3>
                <form action="#" method="POST">
                    <div class="input-group">
                        <input type="text" name="nombre" placeholder="Nombre*" required>
                        <input type="text" name="apellidos" placeholder="Apellidos*" required>
                    </div>
                    <div class="input-group">
                        <input type="email" name="email" placeholder="Email*" required>
                        <input type="tel" name="telefono" placeholder="321 1234567" required>
                    </div>
                    <div class="input-group">
                        <input type="text" name="mascota" placeholder="Nombre de la Mascota*" required>
                        <select name="clase-mascota">
                            <option value="" disabled selected>Clase de Mascota</option>
                            <option value="perro">Perro</option>
                            <option value="gato">Gato</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <select name="plan-interes">
                            <option value="" disabled selected>QUIERO INFORMACIÓN PARA EL SIGUIENTE PLAN</option>
                            <option value="integral">Plan Médico Integral</option>
                            <option value="preventivo">Plan Cuidado Preventivo</option>
                            <option value="cronicos">Plan Pacientes Crónicos</option>
                        </select>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" name="acepto-politica" required>
                        <label>He leído y acepto la política de privacidad <a href="#">Leer Políticas de privacidad</a></label>
                    </div>
                    <button type="submit" class="boton-consultar">CONSULTAR</button>
                </form>
            </div>
        </div>
    </section>
        </section>
        <div class="section">
            <div class="section">
                <img src="../images/imagesLandingPage/Buckys_Vet_LOGO_sin_fondo.png" alt="Logo de PrevenciónPlus">
                <h2>Bucky's Prevention</h2>
                <p>MILES DE MASCOTAS TIENEN PLANES DE MEDICINA PARA PERROS Y GATOS PREVENCIÓNPLUS QUE LE HAN AYUDADO A
                    AUMENTAR SU ESPERANZA Y CALIDAD DE VIDA</p>
            </div>
        </div>
        <div class="services">
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/consulta.png" alt="Consultas Médicas">
                <h3>CONSULTAS MÉDICAS PERIÓDICAS</h3>
                <p>Chequeos médicos generales frecuentes, idealmente cada 3-6 meses</p>
            </div>
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/vacuna.png" alt="Vacunación">
                <h3>VACUNACIÓN</h3>
                <p>Método eficaz y seguro para la prevención de múltiples enfermedades infecciosas</p>
            </div>
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/parasito.png" alt="Control de parásitos">
                <h3>CONTROL DE PARÁSITOS INTERNOS</h3>
                <p>Los parásitos no solamente ocasionan enfermedades a los animales, sino también a las personas que
                    conviven con ellos</p>
            </div>
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/nutricion.png" alt="nutricion">
                <h3>NUTRICIÓN</h3>
                <p>La orientación nutricional es vital en el cuidado de la salud y el desarrollo en cada etapa de vida
                    de la mascota</p>
            </div>
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/inmunologico.png" alt="inmunologico">
                <h3>VALORACION DEL ESTADO INMUNOLOGICO</h3>
                <p>El sistema inmune permite mantener equilibrio interno frente a agresiones externas e internas</p>
            </div>
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/enfermedades.png" alt="Enfermedades">
                <h3>DIAGNÓSTICO TEMPRANO DE NEFERMEDADES CRÓNICAS</h3>
                <p>La detección temprana puede mejorar el pronóstico de muchas enfermedades y ayudar a que la mascota
                    viva más tiempo</p>
            </div>
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/esterilizacion.png" alt="Esterilizacion">
                <h3>ESTERILIZACIÓN</h3>
                <p>Evita enfermedades del aparato reproductor y de transmisión sexual, que ponen en riesgo la salud y
                    vida de la mascota</p>
            </div>
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/salud oral.png" alt="Salud Oral">
                <h3>SALUD ORAL</h3>
                <p>Falta de higiene oral ocasiona desde caries hasta infecciones por bacterias que llegan a la sangre y
                    afectan el corazón</p>
            </div>
            <div class="service">
                <img src="../images/imagesPlanCuidadoPreventivo/control-parasitos.png" alt="Control-parasitos">
                <h3>CONTROL DE PARASITOS EXTERNOS</h3>
                <p>Las pulgas y garrapatas pueden transmitir enfermedades entre las mascotas y las personas</p>
            </div>
        </div>
        </div>
        <div class="plans-section">
            <h2>LOS PLANES BÁSICOS DE MEDICINA PARA PERROS ESTÁN DISEÑADOS SEGÚN SU ETAPA DE VIDA E INCLUYEN LO
                SIGUIENTE EN CADA RUTINA</h2>
            <img src="../images/imagesPlanCuidadoPreventivo/cachorros-sinfondo.png" alt="Cachorros">
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th></th>
                    <th>PERROS CACHORROS</th>
                    <th>PERROS ADULTOS</th>
                    <th>PERROS ADULTOS MAYORES</th>
                </tr>
                <tr class="category">
                    <td>CONSULTAS MÉDICAS PERIÓDICAS</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Consultas Médicas Ilimitadas*</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Consulta Virtual (1)</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Asesoría Médica por Whatsapp</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>VACUNACIÓN</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Moquillo</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Hepatitis</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Parvovirus</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Tos de perrera</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Rabia</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Parainfluenza</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Leptospira</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Desparasitación</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Control de pulgas</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Control de garrapatas</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>NUTRICIÓN</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Consulta Nutricional</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Control semestral</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>VALORACIÓN ESTADO INMUNOLOGICO</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Consulta Inmunologica</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Control de orina</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Coprologico</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>Dianostico temprano de enefermedade cronicas</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>ALT (Alanina Aminotransferasa)</td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Bun (Nitrógeno ureico en sangre)</td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Creatinina</td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Fosfatasa Alcalina</td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Radiología (2 Radiografías)</td>
                    <td class="checkmark"></td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Ultrasonografia Abdominal</td>
                    <td class="checkmark"></td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>LOCALIZACIÓN DE TU MASCOTA</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Microchip</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark"></td>
                </tr>
                <tr class="category">
                    <td>PRECIOS ANUALES</td>
                    <td class="checkmark">700.000</td>
                    <td class="checkmark">820.000</td>
                    <td class="checkmark">950.000</td>
                </tr>
            </table>
        </div>
        <section class="hero">
            <img src="../images/imagesPlanCuidadoPreventivo/gato-dueno.jpg" alt="Gatos">
        </section>
        <div class="plans-section">
            <h2>LOS PLANES BÁSICOS DE MEDICINA PARA GATOS ESTÁN DISEÑADOS SEGÚN SU ETAPA DE VIDA E INCLUYEN LO SIGUIENTE
                EN CADA RUTINA</h2>
            <img src="../images/imagesPlanCuidadoPreventivo/gatos-pequenos.png" alt="Gatos">
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th></th>
                    <th>GATOS CACHORROS</th>
                    <th>GATOS ADULTOS</th>
                    <th>GATOS ADULTOS MAYORES</th>
                </tr>
                <tr class="category">
                    <td>CONSULTAS MÉDICAS PERIÓDICAS</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Consultas Médicas Ilimitadas*</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Consulta Virtual (1)</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Asesoría Médica por Whatsapp</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>VACUNACIÓN</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Moquillo</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Hepatitis</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Parvovirus</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Tos de perrera</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Rabia</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Parainfluenza</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Leptospira</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Desparasitación</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Control de pulgas</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Control de garrapatas</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>NUTRICIÓN</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Consulta Nutricional</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Control semestral</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>VALORACIÓN ESTADO INMUNOLOGICO</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Consulta Inmunologica</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Control de orina</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Coprologico</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>Dianostico temprano de enefermedade cronicas</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>ALT (Alanina Aminotransferasa)</td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Bun (Nitrógeno ureico en sangre)</td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Creatinina</td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Fosfatasa Alcalina</td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Radiología (2 Radiografías)</td>
                    <td class="checkmark"></td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr>
                    <td>Ultrasonografia Abdominal</td>
                    <td class="checkmark"></td>
                    <td class="checkmark"></td>
                    <td class="checkmark">✔</td>
                </tr>
                <tr class="category">
                    <td>LOCALIZACIÓN DE TU MASCOTA</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Microchip</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark">✔</td>
                    <td class="checkmark"></td>
                </tr>
                <tr class="category">
                    <td>PRECIOS ANUALES</td>
                    <td class="checkmark">600.000</td>
                    <td class="checkmark">710.000</td>
                    <td class="checkmark">800.000</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div class="benefits-section">
        <div class="benefits-text">
            <h2>BENEFICIOS ADICIONALES CON NUESTROS PLANES PREVENCIÓNPLUS</h2>
        </div>
        <div class="benefits-list">
            <ul>
                <li>10% de descuento en alimentos Royal Canin</li>
                <li>10% de descuento en alimentos Proplan</li>
                <li>10% de descuento en productos Elanco</li>
                <li>10% de descuento en productos Boehringer</li>
                <li>10% de descuento en productos Maga (Ropa quirurgica en cualquier sede Bucky's Vet)</li>
                <li>10% de descuento en accesorios de la marca PUPPIS. Aplica solo para compras en tienda física.</li>
                <li>10% de descuento en suplementos nutricionales marcas seleccionadas</li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-contenedor">
            <!-- Publicaciones del Blog -->
            <div class="footer-blog">
                <h4>PUBLICACIONES DE NUESTRO BLOG</h4>
                <div class="footer-blog-item">
                    <a href="#">OTITIS EN PERROS</a>
                    <span>08 MARCH, 2024</span>
                </div>
                <div class="footer-blog-item">
                    <a href="#">Desparasitación de mascotas: todo lo que debes saber.</a>
                    <span>13 APRIL, 2024</span>
                </div>
                <div class="footer-blog-item">
                <a href="#">Vacunación de mascotas: Prevención de enfermedades mortales</a>
                    <span>02 SEPTEMBER, 2024</span>
                </div>
            </div>

            <!-- Políticas y condiciones -->
            <div class="footer-politicas">
                <h4>CONECE NUESTRAS POLÍTICAS Y CONDICIONES</h4>
                <a href="#">- Políticas de Privacidad</a>
                <a href="#">- Términos y condiciones</a>
            </div>

            <!-- Redes sociales y logo -->
            <div class="footer-contacto">
                <!-- Redes sociales -->
                <div class="footer-redes">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img class="footer-logo1" src="../images/imagesLandingPage/facebook-logo.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="footer-logo2" src="../images/imagesLandingPage/instagram-logo.png" alt="Instagram">
                    </a>
                    <a href="https://x.com/" target="_blank">
                        <img class="footer-logo3" src="../images/imagesLandingPage/twitter-logo.png" alt="Twitter">
                    </a>
                </div>

                <!-- Logo -->
                <div class="footer-logo">
                    <img src="../images/imagesLandingPage/Buckys_Vet_LOGO_y_NOMBRE_sin_fondo.png" alt="Bucky's Vet Logo">
                </div>
            </div>
        </div>
    </footer>
    </main>
</body>
</html>
