<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestras Sedes</title>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/stylessSedes.css">
</head>

<body>

    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="LandingPage.html">
                    <img src="../images/imagesLandingPage/Buckys_Vet_LOGO_sin_fondo.png" alt="Bucky's Vet Logo" class="logo-img">
                </a>
                <div class="logo-text">
                    Bucky's Vet
                    <span class="slogan">Peludos sanos y felices</span>
                </div>
            </div>
            
            <div class="menu">
                <div class="menu-item">
                    <a href="#">PLANES DE MEDICINA</a>
                    <div class="submenu">
                        <a href="PlanMedicoIntegralAccidente+Enfermedad.html">PLAN MÉDICO INTEGRAL ACCIDENTE + ENFERMEDAD</a>
                        <a href="PlanCuidadoPreventivo.html">PLAN CUIDADO PREVENTIVO</a>
                        <a href="PlanPacientesCronicos.html">PLAN PACIENTES CRÓNICOS</a>
                    </div>
                </div>
    
                <div class="menu-item">
                    <a href="#">SERVICIOS</a>
                    <div class="submenu">
                        <a href="ProgramaCitaPresencial.html">PROGRAMA TU CITA PRESENCIAL</a>
                        <a href="BañosBuckysVet.html">BAÑOS BUCKY'S VET</a>
                        <a href="AsesoriaNutricion.html">ASESORÍA EN NUTRICIÓN</a>
                        <a href="ConsultaVirtual.html">CONSULTA VIRTUAL</a>
                        <a href="#">TIENDA PUPPIS</a>
                    </div>
                </div>
    
                <div class="menu-item">
                    <a href="Sedes.html">SEDES</a>
                </div>
    
                <div class="menu-item">
                    <a href="#">HOSPITAL 24 HORAS</a>
                    <div class="submenu">
                        <a href="HospitalVeterinario24HrsSedeNorte.html">HOSPITAL NORTE</a>
                        <a href="HospitalVeterinario24HrsSedeCentro.html">HOSPITAL CENTRO</a>
                    </div>
                </div>

                <div class="menu-item">
                    <a href="#">BLOG</a>
                </div>
    
                <div class="menu-item">
                    <a href="Contacto.html">CONTACTO</a>
                </div>

                <div class="menu-item">
                    <a href="login.html">INICIO SESION</a>
                </div>
            </div>
    
            <div class="carrito">
                <img class="imagen-carrito" src="../images/imagesLandingPage/carrito-de-compras (1).png" alt="Carrito de Compras">
                <span class="mensaje-carrito">El carrito esta vacio</span>
                <span id="cantidad"> 0 </span>
            </div>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main>
        <!-- Sección de Sedes -->
        <section class="seccion-sedes">
            <div class="contenedor-sedes">
                <img src="../images/imagesSedes/sede-principal.png" alt="Sede Principal Bucky’s Vet">
            </div>
        </section>

        <!-- Sección de Información sobre Sedes -->
        <section class="sedes-info">
            <div class="container">
                <div class="texto-sedes">
                    <h2>BUCKY'S VET HACE PARTE DE LAS MEJORES SUCURSALES VETERINARIAS DE COLOMBIA</h2>
                    <p>Contamos con <strong>2 hospitales</strong> en Bogotá, garantizando la mejor atención para tu mascota.</p>
                    <p>Gracias a nuestra alianza con Puppi Export, ampliamos nuestra red de atención médica para estar más cerca de tu hogar y cuidar mejor a tu mascota.</p>
                </div>
                <div class="sedes-24h">
                    <P>LOS HOSPITALES SEDE NORTE Y SEDE CENTRO ESTAN DISPONIBLES 24/7</P>
                    <img src="../images/imagesSedes/Servicio24hrs.png" alt="Servicio 24 horas">
                </div>
            </div>
        </section>

        <!-- Sección de Sedes -->
        <section class="sedes">
            <div class="containerSedes">
                <h2>SEDES BUCKY'S VET EN BOGOTÁ</h2>
                <div class="sede" onclick="toggleSede('sede-norte')">
                    <span class="numero">01</span> HOSPITAL SEDE NORTE
                    <span class="flecha">&#9662;</span>
                </div>
                <div class="info-sede" id="sede-norte">
                    <p><strong>DIRECCIÓN:</strong> Calle 140 # 12-34, Usaquén, Bogotá</p>
                    <p><strong>HORARIOS:</strong> 24 horas todos los días</p>
                    <p><strong>TELÉFONOS:</strong> Tel: 601 7654321 - Cel: 310 2345678</p>
                    <img src="../images/imagesSedes/mapa_norte.png" alt="Mapa Sede Norte">
                </div>
                
                <div class="sede" onclick="toggleSede('sede-centro')">
                    <span class="numero">02</span> HOSPITAL SEDE CENTRO
                    <span class="flecha">&#9662;</span>
                </div>
                <div class="info-sede" id="sede-centro">
                    <p><strong>DIRECCIÓN:</strong> Carrera 7 # 25-50, Chapinero, Bogotá</p>
                    <p><strong>HORARIOS:</strong> 24 horas todos los días</p>
                    <p><strong>TELÉFONOS:</strong> Tel: 601 8765432 - Cel: 320 8765432</p>
                    <img src="../images/imagesSedes/mapa_centro.png" alt="Mapa Sede Centro">
                </div>
            </div>
        </section>  

        <!-- Sección de Imagende de Fondo Parallax -->
        <section class="parallax-section">
        </section>
        
        <!-- Sección de Reserva de Cita -->
        <section class="reserva-cita">
            <div class="container">
                <div class="info-reserva">
                    <h2>HAZ TU RESERVA EN LÍNEA PARA CITAS MÉDICAS, BAÑO Y PELUQUERÍA, BAÑO O CONSULTAS GRATIS O LO QUE NECESITE TU MASCOTA Y PRONTO ESTAREMOS CONFIRMANDO TU CITA.</h2>
                    <p>Recuerda que si deseas pagar por nuestra página, también puedes hacerlo por medio de <strong>ePayco</strong> de manera rápida y segura.</p>
                </div>
                
                <div class="formulario-reserva">
                    <p class="confirmacion-cita">RECUERDA QUE NUESTRO EQUIPO MÉDICO CONFIRMARÁ TU CITA PRONTO</p>
                    <form action="#" method="POST" class="formulario-cita">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre*" required>
                            <input type="text" name="apellidos" placeholder="Apellidos*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email*" required>
                            <input type="tel" name="telefono" placeholder="📞 321 1234567" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="mascota" placeholder="Nombre de la Mascota*" required>
                            <select name="clase-mascota" required>
                                <option value="" disabled selected>Clase de Mascota</option>
                                <option value="perro">Perro</option>
                                <option value="gato">Gato</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="date" name="fecha" required>
                            <select name="motivo-cita" required>
                                <option value="" disabled selected>Motivo de la Cita</option>
                                <option value="esterilizacion">Esterilización</option>
                                <option value="vacunacion">Vacunación</option>
                                <option value="desparacitacion">Desparasitación</option>
                                <option value="consulta-medica">Consulta Médica</option>
                                <option value="profilaxis">Profilaxis</option>
                                <option value="asesoria-nutricion">Asesoría de nutrición</option>
                                <option value="consulta-geriatrica">Consulta Geriátrica</option>
                                <option value="primera-consulta">Primera Consulta GRATIS</option>
                                <option value="otros">Otros</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="sede" required>
                                <option value="" disabled selected>Selecciona una Sede</option>
                                <option value="norte">Sede Norte</option>
                                <option value="centro">Sede Centro</option>
                            </select>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" name="acepto-politica" required>
                            <label>He leído y acepto las políticas de privacidad <a href="#">Leer Políticas de privacidad</a></label>
                        </div>
                        <button type="submit" class="boton-enviar">PEDIR UNA CITA</button>
                    </form>
                </div>
            </div>
        </section>
        

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-contenedor">
                <!-- Publicaciones del Blog -->
                <div class="footer-blog">
                    <h4>PUBLICACIONES DE NUESTRO BLOG</h4>
                    <div class="footer-blog-item">
                        <a href="#">OTITIS EN PERROS</a>
                        <span>08 MARCH, 2024</span>
                    </div>
                    <div class="footer-blog-item">
                        <a href="#">Desparasitación de mascotas: todo lo que debes saber.</a>
                        <span>13 APRIL, 2024</span>
                    </div>
                    <div class="footer-blog-item">
                    <a href="#">Vacunación de mascotas: Prevención de enfermedades mortales</a>
                        <span>02 SEPTEMBER, 2024</span>
                    </div>
                </div>

                <!-- Políticas y condiciones -->
                <div class="footer-politicas">
                    <h4>CONECE NUESTRAS POLÍTICAS Y CONDICIONES</h4>
                    <a href="#">- Políticas de Privacidad</a>
                    <a href="#">- Términos y condiciones</a>
                </div>

                <!-- Redes sociales y logo -->
                <div class="footer-contacto">
                    <!-- Redes sociales -->
                    <div class="footer-redes">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img class="footer-logo1" src="../images/imagesLandingPage/facebook-logo.png" alt="Facebook">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <img class="footer-logo2" src="../images/imagesLandingPage/instagram-logo.png" alt="Instagram">
                        </a>
                        <a href="https://x.com/" target="_blank">
                            <img class="footer-logo3" src="../images/imagesLandingPage/twitter-logo.png" alt="Twitter">
                        </a>
                    </div>

                    <!-- Logo -->
                    <div class="footer-logo">
                        <img src="../images/imagesLandingPage/Buckys_Vet_LOGO_y_NOMBRE_sin_fondo.png" alt="Bucky's Vet Logo">
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="../js/scriptSedes.js"></script>
</body>
</html>